NODE_ENV=development
HOST=0.0.0.0
PORT=1337


APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
JWT_SECRET=


DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=


APP_DEEPLINK=guide-to-findings://forgot
STORE_GOOGLE="/"
STORE_APPLE="/"

SENDGRID_API_KEY=
MAIL_DEFAULT_FROM=
MAIL_DEFAULT_REPLY_TO=


ENDPOINT=http://localhost:1337
IMPORT_EXPORT_ENABLED=true
