NODE_ENV=development
HOST=0.0.0.0
PORT=1337

APP_KEYS=change-me-app-key-1,change-me-app-key-2,change-me-app-key-3,change-me-app-key-4
API_TOKEN_SALT=change-me-api-token-salt
ADMIN_JWT_SECRET=change-me-admin-jwt-secret
TRANSFER_TOKEN_SALT=change-me-transfer-token-salt
JWT_SECRET=change-me-jwt-secret

DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=guide_to_findings
DATABASE_USERNAME=guide_to_findings
DATABASE_PASSWORD=guide_to_findings
DATABASE_SCHEMA=public
DATABASE_SSL=false
DATABASE_POOL_MIN=2
DATABASE_POOL_MAX=10
DATABASE_CONNECTION_TIMEOUT=60000

APP_DEEPLINK=guide-to-findings://forgot
STORE_GOOGLE="/"
STORE_APPLE="/"

SENDGRID_API_KEY=
MAIL_DEFAULT_FROM=
MAIL_DEFAULT_REPLY_TO=


ENDPOINT=http://localhost:1337
IMPORT_EXPORT_ENABLED=true

MERCADO_LIVRE_CLIENT_ID=
MERCADO_LIVRE_CLIENT_SECRET=
MERCADO_LIVRE_BASE_URL=https://api.mercadolibre.com
MERCADO_LIVRE_SITE_ID=MLB
