
# SMS
TWILIO_SID=
TWILIO_AUTH_TOKEN=
TWILIO_DEFAULT_FROM=

# SOCIAL
FACEBOOK_CLIENT_ID=
FACEBOOK_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=



# PAGARME

PAGARME_SECRET_KEY=
PAGARME_PUBLIC_KEY=
PAGARME_ID_ACCOUNT=
PAGARME_HOST=



# IUGU
IUGU_HOST=
IUGU_TOKEN_API=
IUGU_ACCOUNT_ID=
IUGU_ENV_TEST=



# DOCUSIGN
DOCUSIGN_URL=
DOCUSIGN_INTEGRATE=
DOCUSIGN_SECRET=
DOCUSIGN_URL_AUTH=
DOCUSIGN_ACCOUNT_ID=
