<div class="div">
  
    <div class="div-3">
      <img
        loading="lazy"
        src="https://guide-to-findings-api.staging-xapps.dev/admin/4cca594a18693f9d7247.png"
        class="img"
      />
  
      <div class="div-4">Ouvimos dizer que você perdeu sua senha. Sentimos muito por isso!</div>
      <div class="div-5">
         Mas não se preocupe! Você pode usar o link a seguir para redefinir sua senha:
      </div>
      <div class="div-6" onClick="window.open('https://guide-to-findings-api.staging-xapps.dev/api/mobile/deeplink?code=<%= TOKEN %>', 'new')">Criar senha</div>
      
      
      <div class="div-7">
        Você pode também copiar e colar o link abaixo :
        <a href="https://guide-to-findings-api.staging-xapps.dev/api/mobile/deeplink?code=<%= TOKEN %>" target="new">https://guide-to-findings-api.staging-xapps.dev/api/mobile/deeplink?code=<%= TOKEN %><a/>
      </div>
          
      
      <div class="div-8">
        Em caso de dúvidas sobre uso, estamos à disposição para auxiliar você.
        Basta entrar em contato
      </div>
      <div class="div-9">
        Abraços,
        <br />
        Equipe Guide to findings
      </div>
    </div>
  </div>
  <style>
    .div {
      background-color: var(--Neutral-Low-Lighttest, #fff);
      display: flex;
      text-align:center;
      max-width: 600px;
      flex-direction: column;
      font-weight: 400;
      padding: 31px 0 80px;
    }
    .div-2 {
      color: var(--Information-Light, #000);
      text-align: center;
      margin: auto;
      width: 100%;
      font: 12px/150% SF Pro Display, sans-serif;
    }
    
    .div-7, .div-8, .div-9{
      text-align: left;
    }
    
    .div-6{
      cursor: pointer;
      transition:all .3s ease;
    }
    
    .div-6:hover{
      transform: scale(1.1);
    }
    
    @media (max-width: 991px) {
      .div-2 {
        max-width: 100%;
      }
    }
    .div-3 {
      background-color: var(--Neutral-Low-Lighttest, #fff);
      display: flex;
      margin-top: 40px;
      width: 100%;
      flex-direction: column;
      font-size: 14px;
      color: var(--Neutral-High-Lighttest, #000);
      line-height: 21px;
      padding: 70px 40px;
    }
    @media (max-width: 991px) {
      .div-3 {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    .img {
      aspect-ratio: 7.14;
      object-fit: auto;
      object-position: center;
      width: 224px;
      align-self: center;
      max-width: 100%;
    }
    .div-4 {
      text-align:center;
      color: var(--Neutral-High-Medium, #000);
      margin-top: 32px;
      font: 700 24px/150% SF Pro Display, -apple-system, Roboto, Helvetica,
        sans-serif;
    }
    @media (max-width: 991px) {
      .div-4 {
        max-width: 100%;
      }
    }
    .div-5 {
      font-family: SF Pro Display, sans-serif;
      line-height: 150%;
      margin-top: 16px;
    }
    @media (max-width: 991px) {
      .div-5 {
        max-width: 100%;
      }
    }
    .div-6 {
      justify-content: center;
      align-items: center;
      border-radius: 32px;
      background-color: var(--Primary-Dark, #000);
      margin-top: 33px;
      color: var(--Neutral-Light, #fff);
      white-space: nowrap;
      padding: 15px 60px;
      font: 16px SF Pro Display, sans-serif;
      text-align:center;
      max-width: 250px;
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: 991px) {
      .div-6 {
        max-width: 100%;
        white-space: initial;
        padding: 0 20px;
      }
    }
    .div-7 {
      font-family: SF Pro Display, sans-serif;
      margin-top: 32px;
      tex-align: left;
    }
    @media (max-width: 991px) {
      .div-7 {
        max-width: 100%;
      }
    }
    .div-8 {
      font-family: SF Pro Display, sans-serif;
      margin-top: 16px;
      tex-align: left;
    }
    @media (max-width: 991px) {
      .div-8 {
        max-width: 100%;
      }
    }
    .div-9 {
      color: var(--Neutral-High-Dark, #000);
      font-family: SF Pro Display, sans-serif;
      font-weight: 500;
      margin-top: 16px;
      tex-align: left;
    }
    @media (max-width: 991px) {
      .div-9 {
        max-width: 100%;
      }
    }
  </style>